################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Question20/Question20/bin/Debug/net8.0
/Question20/Question20/obj
/Question20/.vs/Question20/v17
/Question20/.vs/Question20/DesignTimeBuild
/Question20/.vs/Question20/FileContentIndex
